In [1]:
!pip install holidays

Collecting holidays
  Downloading holidays-0.73-py3-none-any.whl.metadata (38 kB)
Requirement already satisfied: python-dateutil in c:\users\pooko\anaconda3\envs\bibiml\lib\site-packages (from holidays) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\pooko\anaconda3\envs\bibiml\lib\site-packages (from python-dateutil->holidays) (1.17.0)
Downloading holidays-0.73-py3-none-any.whl (954 kB)
   ---------------------------------------- 0.0/954.8 kB ? eta -:--:--
   -------------------------------- ------- 786.4/954.8 kB 6.7 MB/s eta 0:00:01
   ---------------------------------------- 954.8/954.8 kB 5.5 MB/s eta 0:00:00
Installing collected packages: holidays
Successfully installed holidays-0.73

In [ ]:
import pandas as pd
import holidays

In [4]:
# 날짜 생성
df = pd.DataFrame({'date': pd.date_range("2021-12-25", "2024-1-15")})

# 한국 공휴일
kr_holidays = holidays.KR(years=range(2021,2025))

# 공휴일 또는 주말 → 0/1 처리
df['is_offday'] = (df['date'].isin(kr_holidays) | (df['date'].dt.weekday >= 5)).astype(int)

# 근무일 여부 → 0/1 처리
df['is_workday'] = (1 - df['is_offday'])  # 또는: (~df['is_offday'].astype(bool)).astype(int)

# workday_block 번호 부여
df['workday_block'] = (df['is_workday'] != df['is_workday'].shift()).cumsum()

# workday_streak 계산
df['workday_streak'] = df.groupby('workday_block')['is_workday'].transform(
    lambda x: x.cumsum() if x.iloc[0] == 1 else 0
)

In [5]:
df

          date  is_offday  is_workday  workday_block  workday_streak
0   2021-12-25          1           0              1               0
1   2021-12-26          1           0              1               0
2   2021-12-27          0           1              2               1
3   2021-12-28          0           1              2               2
4   2021-12-29          0           1              2               3
..         ...        ...         ...            ...             ...
747 2024-01-11          0           1            228               4
748 2024-01-12          0           1            228               5
749 2024-01-13          1           0            229               0
750 2024-01-14          1           0            229               0
751 2024-01-15          0           1            230               1

[752 rows x 5 columns]